---
import Output from '../components/Output.astro';
import UserInput from '../components/User_Input.astro';
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE } from '../config';
import Editor from '../components/Editor.astro';
---

<Layout title="Email Writer">
	<main>
		<h1 class="text-gradient">{SITE_TITLE}</h1>	
		<UserInput />
		<Editor />
		<Output />
	<main/>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		/* text-align: center; */
	}
	h1 {
		text-align: center;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
