---
// ASTRO STUFF HERE (BETWEEN THE DASHES):
import Layout from '../layouts/Layout.astro';
import Output from '../components/Output.astro';
import UserInput from '../components/User_Input.astro';
import { SITE_TITLE } from '../config';
import Card from '../components/Card.astro';
---

<!-- HTML HERE: -->
<!-- Avoid adding anything on this page, instead add things in their own component and add the component -->
<Layout title="Email Writer">
	<main>
		<!-- SITE TITLE HEADER -->
		<h1 class="text-gradient">{SITE_TITLE}</h1>
		
		
		<!-- USER INPUT AND OUTPUT COMPONENTS -->
		<UserInput />
		<Output />
	</main>
</Layout>


<!-- CSS HERE: -->
<!-- THIS CSS WILL BE APPLIED TO ALL CHILD COMPONENTS -->
<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		/* text-align: center; */
	}
	h1 {
		text-align: center;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
