---
import { SITE_TITLE,SITE_DESCRIPTION,SITE_AUTHOR } from "../config";
const tody = new Date();
---
<footer>
    <p>{SITE_DESCRIPTION}</p>
    <p>{SITE_TITLE} | &copy; {tody.getFullYear()} | {SITE_AUTHOR}</p>   
</footer>
