---
//JAVASCRIPT HERE:

---
<!--HTML HERE:-->
<div>
    <h1 id="Output_Header">Output:</h1>
    <p id="Output_Field">Wating for request...</p>
</div>


<!--CSS HERE:-->
<style>
    #Output_Field {
        white-space: pre-wrap;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        font-family: monospace;
        font-size: 12px;
        color: #333;
    }
    #Output_Header {
        margin: 20px;
        font-family: monospace;
        
    }
</style>