---
// ASTRO STUFF HERE:
---

<!--HTML HERE -->
<div>
    <h1>Input</h1>
    <input type="text" id="input" />
    <button>Enter</button>
</div>
<div class="form-group row">
    <label>Will you attend?</label>
    <select class="form-control" asp-for="WillAttend">
        <option value="">Choose an option</option>
        <option value="true">Yes, I'll be there</option>
        <option value="false">No, I can't come</option>
    </select>
</div>
gogogo
<!-- JAVASCRIPT HERE -->
<script>
    var input = document.getElementById("input");
    var button = document.querySelector("button");
    var output = document.getElementById("Output_Field");

    button.addEventListener("click", function () {
        output.textContent = input.value;
    });
</script>

<!--CSS HERE -->
