---
// ASTRO STUFF HERE:
---

<!--HTML HERE -->
<div>
    <h1>Input</h1>
    <input type="text" id="input" />
    <button>Enter</button>
</div>

<!-- JAVASCRIPT HERE -->
<script>
    var input = document.getElementById("input");
    var button = document.querySelector("button");
    var output = document.getElementById("Output_Field");

    button.addEventListener("click", async function () {
        // output.textContent = input.value;
        let prompt = input.value;
        // make a get request to localhost3100
        await getCompletion(prompt, '100').then((email) => {
            email.text().then((text) => {
                console.log(text);
                output.textContent = text;
            });
        });
    });
    async function getCompletion(prompt, maxTokens = "10", temperature = ".5") {
        const response = await fetch(
            `http://localhost:3100/?prompt=" + ${prompt},
            +"&max_tokens=" + ${maxTokens} + "&temperature=" + ${temperature}`,
            {
                method: "GET",
            }
        );
        console.log(response);
        return response;
    }
</script>

<!--CSS HERE -->
