---
// ASTRO STUFF HERE:
---

<!--HTML HERE -->
<div>
    <h1>Input</h1>
    <input type="text" id="input" />
    <button>Enter</button>
</div>
<div class="form-group row">
    <label>Email Length</label>
    <select class="form-control" asp-for="WillAttend" id="Attend">
        <option value="">Please select a length</option>
        <option value="Short">Short</option>
        <option value="Medium">Medium</option>
        <option value="Long">Long</option>
    </select>
</div>
<div class="form-group row">
    <label>Tone</label>
    <select class="form-control" asp-for="Tones" id="Tone">
        <option value="">Please select a length</option>
        <option value="Short">Friendly</option>
        <option value="Medium">Professional</option>
        <option value="Long">Rage Inducing</option>
    </select>
</div>
<div class="form-group row">
    <label>Hearing Capability</label>
    <select class="form-control" asp-for="Hearing" id="Hear">
        <option value="">Please select an option</option>
        <option value="Short">Yes</option>
        <option value="Medium">No</option>
    </select>
</div>
<script>
    var willAttend = document.getElementById("Attend")
    var button = document.querySelector("button");
    var output = document.getElementById("Output_Field");
    button.addEventListener("click", function () {

            output.textContent = willAttend.value;

    });
    
</script>

<!-- JAVASCRIPT HERE -->
<script>
    var input = document.getElementById("input");
    var button = document.querySelector("button");
    var output = document.getElementById("Output_Field");

    button.addEventListener("click", function () {
        output.textContent = input.value;
    });
</script>

<!--CSS HERE -->
