---
// JAVASCRIPT HERE
var input = document.getElementById("input");
var button = document.querySelector("button");
var output = document.getElementById("Output_Field");

button.addEventListener("click", function () {
    output.textContent = input.value;
});
---

<!--HTML HERE -->
<div>
    <h1>Input</h1>
    <input type="text" id="input" />
    <button>Enter</button>
</div>

<!--CSS HERE -->

