---
// ASTRO STUFF HERE:
---

<!--HTML HERE -->
<div class="parameters-container">

  <div class = "pre-spacer">
  </div>

  <div class="who-from-container">
    <span class="home-text0">
        <span class="home-text1">Who is the email being sent from:</span>
        <span></span>
    </span>
    <input
        type="text"
        id="sender"
        class="who-from-input"
    />
  </div>

  <div class="who-to-container">
    <span class="home-text">
        <span class="home-text2">Who is the email being sent to:</span>
        <span></span>
    </span>
    <input
        type="text"
        id="recipient"
        class="who-to-input"
    />
  </div>

  <div class="fer-what">
    <span class="home-text3">What is the topic/purpose of the email:</span>
    <input
        type="text"
        id="purpose"
        class="home-textinput1 input"
    />
  </div>

  <div class="how-long">
    <span class="home-text4">What should the approximate length be:</span>
    <select class="how-long-select" id="length">
        <option value="">Please select a length</option>
        <option value="100">Short</option>
        <option value="200">Medium</option>
        <option value="300">Long</option>
    </select>
  </div>

  <div class="what-tone">
    <span class="home-text5">What should the tone of the email be:</span>
    <select class="what-tone-select" id = "tone">
        <option value="">Please select a tone</option>
        <option value="friendly">Friendly</option>
        <option value="professional">Professional</option>
        <option value="conversational">Conversational</option>
    </select>
  </div>

  <div class = "post-spacer">
  </div>

  <div class="do-a-thing">
  <button id="generate">Generate</button>
  </div>

</div>


<!-- JAVASCRIPT HERE -->
<script>
    var sender = document.getElementById("sender");
    var recipient = document.getElementById("recipient");
    var purpose = document.getElementById("purpose");
    var length = document.getElementById("length");
    var tone = document.getElementById("tone");
    var button = document.getElementById("generate");
    var output = document.getElementById("Output_Field");
    
    button.addEventListener("click", function () {
        output.textContent = sender.value + " " + recipient.value + " " + purpose.value + " " + length.value + " " + tone.value;
    });
</script>


<!--CSS HERE -->
<style>
  .pre-spacer {
  width: 700px;
  height: 40px;
  }

  .parameters-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
  }

  .who-from-container {
  width: 700px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  }
  .home-text {
  padding-top: var(--dl-space-space-unit);
  }
  .home-text1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  }
  .who-from-input {
  top: 8px;
  right: 0px;
  height: 20px;
  position: absolute;
  align-self: flex-start;
  }

  .who-to-container {
  width: 700px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  }
  .home-text {
  padding-top: var(--dl-space-space-unit);
  }
  .home-text2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  }
  .who-to-input {
  top: 8px;
  right: 0px;
  height: 20px;
  position: absolute;
  align-self: flex-start;
  }

  .fer-what {
  width: 700px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  }
  .home-text3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  }
  .home-textinput1 {
  top: 8px;
  right: 0px;
  height: 20px;
  position: absolute;
  align-self: flex-start;
  }

  .how-long {
  width: 700px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  }
  .home-text4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  }
  .how-long-select {
  top: 8px;
  right: 0px;
  width: 176px;
  height: 26px;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  }

  .what-tone {
  width: 700px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  }
  .home-text5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  }
  .what-tone-select {
  top: 8px;
  right: 0px;
  width: 176px;
  height: 26px;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  }

  .post-spacer {
  width: 700px;
  height: 40px;
  }

  .do-a-thing {
  align-self: center;
  }
</style>