---
// ASTRO STUFF HERE:
---

<!--HTML HERE -->
<div>
    <p>Who is the email being sent from: <input type="text" id="sender" /></p>
</div>
	
<div>
    <p>Who is the email being sent to: <input type="text" id="recipient" /></p>
</div>

<div>
    <p>What is the topic/purpose of the email: <input type="text" id="purpose" /></p>
</div>
<div>
</div>
<div>
    <p>What should the approximate length be:</p>
</div>

<div>
    <p>What should the tone of the email be:</p>
</div>

<button id="generate">Generate</button>
<div>
    <h1>Input</h1>
    <input type="text" id="input" />
    <button>Enter</button>
</div>
<div class="form-group row">
    <label>Email Length</label>
    <select class="form-control" asp-for="WillAttend" id="Attend">
        <option value="">Please select a length</option>
        <option value="Short">Short</option>
        <option value="Medium">Medium</option>
        <option value="Long">Long</option>
    </select>
</div>
<script>
    var willAttend = document.getElementById("Attend")
    var button = document.querySelector("button");
    var output = document.getElementById("Output_Field");
    button.addEventListener("click", function () {

            output.textContent = willAttend.value;

    });
    
</script>
<p> one tow three </p>

<!-- JAVASCRIPT HERE -->
<script>
    var input = document.getElementById("input");
    var button = document.querySelector("button");
    var output = document.getElementById("Output_Field");

    button.addEventListener("click", function () {
        output.textContent = input.value;
    });
</script>

<!--CSS HERE -->
